.grid_div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: start;
        grid-gap: 1rem;
        padding: 30px  0;
}

.content-box {
        padding-bottom: 35px;
}
.content-box img{
        padding-bottom: 20px;
}
.adv_h4 {
        /* UI Properties */
        text-align: center;
        font: normal normal 900 20px/32px Dejanire Headline;
        letter-spacing: 0px;
        color: #103B19;
        opacity: 1;
        padding-bottom: 1rem;
        font-family: 'Poppins', sans-serif !important;
        margin-top: 0.5rem;

}

.adv_p {
        /* UI Properties */
        margin-top: -2%;
        text-align: center;
        letter-spacing: 1px;
        color: #333333;
        opacity: 1;
        font-family: 'Lora', serif;
        padding: 0 4rem;
}

.link_paragraph {
        text-align: center;
        text-decoration: underline;
        letter-spacing: 1.25px;
        color: #103B19BF;
        text-transform: uppercase;
        opacity: 1;
        font-family: 'Poppins', sans-serif !important;
}

.advantage_h2 {
        text-align: center;
        font: normal normal bold 56px/64px Dejanire Headline !important;
        letter-spacing: -1px;
        color: #103B19;
        opacity: 1;


}

.advantage_p {
        text-align: center;
        letter-spacing: 1px;
        color: #333333;
        opacity: 1;
        font-family: 'Poppins', sans-serif !important;
        padding: 1rem 7rem;
}


@media(max-width:500px) {
        .grid_div {
                grid-template-columns: auto;
        }

        .border_right {
                border: none;
        }
}